/*导航*/
.main_top{

	position:fixed;

	left:0px;

	top:0px;

	height:70px;

	background:#FFF;

	width:100%;

	z-index:999;

	transition:all 0.6s;

	}


.main_top a.logo{

	width:124px;

	height:38px;

	background:url(../images/logo.png)no-repeat left center;

	background-size:100% 100%;

	float:left;

	margin-left:30px;

	margin-top:15px;

	transition:all 0.5s;

	}



.main_top .navicon{

	float:right;

	margin-top:25px;

	margin-right:30px;

	overflow:hidden;

	width:20px;

	height:20px;

	position:relative;

	transition:all 0.5s;

	}



.navicon b{

	font-size:20px;

	cursor:pointer;

	position:absolute;

	transition:all 0.2s;

	}



.navicon b.fa-navicon{

	z-index:2;

	}



.navicon b.fa-minus{

	z-index:1;

	transform:rotate(90deg);

	opacity:0;

	filter: alpha(opacity=0);

	}



.navicon b.show{

	opacity:1;

	transform:rotate(180deg);

	}



.navicon b.hide{

	opacity:0;

	filter: alpha(opacity=0);

	transform:rotate(180deg);

	}



.navicon b.fa-navicon:hover{

	transform:rotate(90deg);

	opacity:0;

	filter: alpha(opacity=100);

	}



.main_top #menu{

	float:right;

	height:30px;

	line-height:30px;

	margin-top:20px;

	transition:all 0.5s;

	}



.main_top #menu a{

	color:#333;

	font-size:14px;

	float:left;

	display:block;

	padding-right:30px;

	font-family:"Microsoft yahei";

	transition:all 0.5s;

	}

	

.main_top #menu a:hover{

	color:#8c8c8c;

	}



.mini_top{

	height:50px;

	background-color:rgba(0,0,0,0.8);

	box-shadow:0px 0px 10px rgba(0,0,0,0.5)

	}

	

.mini_top_bai{

	background-color:#fff;

	}

	

.mini_top a.logo{

	margin-top:12px;

	width:100px;

	height:31px;

	background:url(../images/logo.png) no-repeat left center;

	background-size:100% 100%;

	width:162px\9;

	height:48px\9;

	}



.mini_top_bai a.logo{

	background:url(../images/logo.png) no-repeat left center;

	background-size:100% 100%;

	}





.mini_top #menu{

	opacity:0;

	filter: alpha(opacity=0);

	margin-top:20px;

	margin-right:80px;

	}



.mini_top .navicon{

	margin-top:15px;

	color:#fff;

	}



.mini_top_bai .navicon{

	color:#000;

	}



.r_menu{

	position:absolute;

	right:0px;

	top:50%;

	margin-top:-100px;

	width:180px;

	height:200px;

	z-index:1;

	overflow:hidden;

	}



.r_menu a{

	display:block;

	position:absolute;

	width:180px;

	height:60px;

	line-height:40px;

	margin:0px;

	left:120px;

	background:rgba(0,0,0,0.2);

	background-color:#000\9;

	transition:all 0.6s ease;

	color:#fff;

	}



.r_menu a:hover{

	margin-left:-120px;

	background:rgba(0,0,0,0.5);

	

	}



.r_menu a b{

	font-size:25px;

	line-height:60px;

	margin-left:20px;

	}



.r_menu a font{

	font-family:'PingHei_text',"Simhei";

	font-size:18px;

	line-height:60px;

	display:inline-block;

	margin-left:20px;

	}



.r_menu a.r_qq{

	border-top-left-radius:10px;

	top:0px;

	}



.r_menu a.r_tel{

	top:60px;

	}



.r_menu a.r_top{

	border-bottom-left-radius:10px;

	top:120px;

	}



.section video#media{

	position:absolute;

	top:0px;

	display:none;

	}



.page1{

	color:#fff;

	}



.black_bg{

	width:100%;

	height:100%;

	position: absolute;

	z-index:21;

	background:url(../images/black_line.gif);

	}



.h1_title{

	font-size:72px;

	line-height:72px;

	font-family:'PingHei_text',"Simhei";

	letter-spacing:-2px;

	margin-left:-2%\9;

	}



.h2_title{

	font-size:60px;

	line-height:60px;

	line-height:80px\9;

	font-family:'PingHei_light',"Simsun";

	letter-spacing:-2px;

	}

	
/*第一屏*/
.nofade{

	position:relative;

	z-index:99;

	top:450px;

	width:300px;

	text-align:center;

	margin:0px auto;

	}



.since{

	font-size:30px;

	line-height:38px;

	text-align:center;

	font-family:'myriad_set_pro_thin';

	}



.since span{

	font-family:"Simhei";

	font-size:14px;

	line-height:14px;

	letter-spacing:2px;

	}

	

.since a{

	display:inline-block;

	margin-top:20px;

	position:relative;

	}



.since a.video_play{

	display:none\9;

	}



.since a font{

	display:block;

	display:none\9;

	width:30px;

	height:30px;

	border-radius:50%;

	position:absolute;

	border:2px solid #fff;

	transition:all 0.3s ease-out;

	left:4px;

	top:8px;

	opacity:1;

	z-index:99;

	}



.since a:hover font{

	left:-20px;

	top:-16px;

	width:80px;

	height:80px;

	opacity:0;

	}



.since a b{

	color:#fff;

	display:inline-block;

	font-size:50px;

	}



.since .mousedown{

	display: inline-block;

	width:40px;

	height:40px;

	border-radius:50%;

	position:relative;

	margin-top:30px;

	font-size:12px;

	}



.since .mousedown b{

	font-size:50px;

	position:absolute;

	top:0px;

	top:10px\9;

	left:0px;

	animation: mousedown 2s infinite;

	-moz-animation: mousedown 2s infinite;	/* Firefox */

	-webkit-animation: mousedown 2s infinite;	/* Safari 和 Chrome */

	-o-animation: mousedown 2s infinite;	/* Opera */

	}



@keyframes mousedown

{

0% {top:0px; opacity:0;}

50%{top:50px; opacity:1;}

100%{top:100px; opacity:0;}

}





.page2{

	background:url(../images/page2-bg.jpg);

	background-size:100% 100%;

	}



.page3{

	background:url(../images/p3-bg.png)top center;

	background-size:100% 100% ;

	}

	



.page4{

	background:url(../images/p4-bg.jpg) top center;

	background-size:100% 100% ;

	}







.page5{

	background:url(../images/p5-bg.jpg) top center;

	background-size:100% 100% ;

	

	}

.page6{

	background:url(../images/p6-bg.jpg) top center;

	background-size:100% 100% ;
	
	position:relative;

	z-index:99;

	}

.page7{

	overflow:hidden;

	}

.slider-letter{
	width: 100%;
	text-align: center;
	margin-bottom: 130px;
	margin-top: 50px;
    }

.slider-letter h1{
 	margin: 0 auto;
	margin-bottom: 20px;
	font: normal 40px "Simhei";
    color: #33abeb
    }

.slider-letter i{
	text-align: center;
	font: normal 26px "微软雅黑";
    color: black;
    }

.page2 .slide2{

	background:url(../images/line3.jpg);

	background-size:100% 100%;

	}


.page2 .slide3{

	background:url(../images/line4.jpg);

	background-size:100% 100%;

	}



.page2 .slide4{

	background:url(../images/line5.jpg);

	background-size:100% 100%;

	}



.page2 .slide5{

	background:url(../images/line6.jpg);

	background-size:100% 100%;

	}

.page2 .slide6{

	background:url(../images/line7.jpg);

	background-size:100% 100%;

	}



.page2 .fp-tableCell{

	position:relative;

    
	}



.page2 .wrapper{

	width:1200px;

	height:300px;

	margin:0px auto;

	color:#fff;

	}



.page2 .wrapper li{

	width:20%;

	height:100%;

	text-align: center;

	float:left;

	text-transform:uppercase;

	cursor:pointer;

	transition:all 1s;

	opacity:0;

	}



.page2 .wrapper li:hover i{

	font-size:100px;

	height:120px;

	}



.page2 .wrapper li.s1{

	transform: translate3d(-500px,0, 0);

	}

	

.page2 .wrapper li.s2{

	transform: translate3d(-500px, 0, 0);

	}



.page2 .wrapper li.s3{

	transform: translate3d(500px,0, 0);

	}



.page2 .wrapper li.s4{

	transform: translate3d(500px, 0, 0);

	}

.page2 .wrapper li.s5{

	transform: translate3d(500px, 0, 0);

	}


.active .active .wrapper li{

	transform: translate3d(0, 0, 0);

	opacity:1;
	color: black;

	}

	

.page2 .wrapper li i{

	width:100%;

	height:100px;

	font-size:80px;

	transition:all 0.2s;
	
	color: #33abeb;

	}



.page2 .wrapper li h2{

	margin-bottom:5px;
    
	color:black;
	}



.page2 .wrapper li h2 font{

	font-size:30px;

	}

	



/*场景二的底部图片*/

.page2 .bt_img{

	background-repeat:no-repeat;

	width:100%;

	position:absolute;

	bottom:0px;

	left:0px;

	opacity:0;

	transition:all 2s;

	}



.page2 .active .bt_img{
	will-change: transition;
	opacity:1;

	}



.page2 .slide2 .bt_img{

	background-size: 100% 100%;

	background-image:url(../images/p2-1_02.png);

	background-position:top center;

	height:35%;

	transition:all 0.3s;

	transform:scale(1.6,1.6); 

	opacity:0;

	}



.page2 .slide2.active .bt_img{

	opacity:1;

	transition:all 2s;

	transform:scale(1,1); 

	}



.page2 .slide3 .bt_img{

	background-image:url(../images/../images/p2-2.png);

	background-size:auto 100%;

	background-position:top center;

	height:45%;

	transition:all 0.3s;

	transform:scale(1.6,1.6) translate3d(200px,0,0); 

	opacity:0;

	}



.page2 .slide3.active .bt_img{

	opacity:1;

	transition:all 2s;

	transform:scale(1,1) translate3d(0,0, 0); 

	}



.page2 .slide4 .bt_img{

	background-image:url(../images/p2-3.png);

	background-size:auto 90%;

	background-position:bottom center;

	height:45%;

	transition:all 0.3s;

	transform:scale(1.6,1.6) translate3d(200px,200px,0); 

	opacity:0;

	}



.page2 .slide4.active .bt_img{

	opacity:1;

	transition:all 2s;

	transform:scale(1,1) translate3d(0,0, 0); 

	}



.page2 .slide5 .bt_img{

	background-image:url(../images/p2-4.png);

	background-size:auto 100%;

	background-position:20% top;

	height:40%;

	width:70%;

	left:30%;

	transition:all 0.3s;

	transform:scale(1.3,1.3) translate3d(1000px,300px,0); 

	opacity:0;

	}



.page2 .slide5.active .bt_img{

	opacity:1;

	transition:all 1.5s;

	transform:scale(1,1) translate3d(0,0, 0); 

	}

.page2 .slide6 .bt_img{

	background-size: 100% 100%;

	background-image:url(../images/p2-5.png);

	background-position:top center;

	height:35%;

	transition:all 0.3s;

	transform:scale(1.6,1.6); 

	opacity:0;

	}



.page2 .slide6.active .bt_img{

	opacity:1;

	transition:all 1.5s;

	transform:scale(1,1) translate3d(0,0, 0); 

	}



/*场景二的底部图片*/



/*场景二的标语*/

.page2 .p2width .text_animate{

	float:right;

	position:relative;

	width:500px;

	height:400px;

	}



.page2 .p2width .text_animate img{

	position:absolute;

	opacity:0;

	}



.page2 .p2width .timg1{transform: translate3d(-200px,-200px, 0);	transition:all 0.8s;}

.page2 .p2width .timg2{transform: translate3d(200px,200px, 0);		transition:all 0.9s;}

.page2 .p2width .timg3{transform: translate3d(-200px,-200px, 0);	transition:all 1.0s;}

.page2 .p2width .timg4{transform: translate3d(-100px,-100px, 0);	transition:all 1.2s;}

.page2 .p2width .timg5{transform: translate3d(0,-200px, 0);			transition:all 1.3s;}

.page2 .p2width .timg6{transform: translate3d(100px,200px, 0);		transition:all 1.2s;}

.page2 .p2width .timg7{transform: translate3d(200px,200px, 0);		transition:all 1.0s;	}



.page2 .active .p2width .timg1,.page2 .active .p2width .timg2,.page2 .active .p2width .timg3,.page2 .active .p2width .timg4,.page2 .active .p2width .timg5,.page2 .active .p2width .timg6,.page2 .active .p2width .timg7{transform: translate3d(0,0,0);transition-delay:0.4s;opacity:1;}

/*网站*/

.page2 .slide2 .p2width .timg1{left:100px;	top:-10px;}

.page2 .slide2 .p2width .timg2{left:280px;	top:36px;}

.page2 .slide2 .p2width .timg3{left:30px;	top:166px;}

.page2 .slide2 .p2width .timg4{left:140px;	top:176px;}

.page2 .slide2 .p2width .timg5{left:242px;	top:174px;}

.page2 .slide2 .p2width .timg6{left:398px;	top:204px;}

.page2 .slide2 .p2width .timg7{left:94px;	top:140px;}

/*flash*/

.page2 .slide3 .p2width .timg1{left:67px;	top:-30px;}

.page2 .slide3 .p2width .timg2{left:260px;	top:-39px;}

.page2 .slide3 .p2width .timg3{left:-6px;	top:104px;}

.page2 .slide3 .p2width .timg4{left:131px;	top:150px;}

.page2 .slide3 .p2width .timg5{left:241px;	top:162px;}

.page2 .slide3 .p2width .timg6{left:369px;	top:160px;}

.page2 .slide3 .p2width .timg7{left:108px;	top:252px;}

/*微信*/

.page2 .slide4 .p2width .timg1{left:60px;	top:-25px;}

.page2 .slide4 .p2width .timg2{left:260px;	top:-10px;}

.page2 .slide4 .p2width .timg3{left:10px;	top:145px;}

.page2 .slide4 .p2width .timg4{left:145px;	top:190px;}

.page2 .slide4 .p2width .timg5{left:296px;	top:185px;}

.page2 .slide4 .p2width .timg6{left:385px;	top:133px;}

.page2 .slide4 .p2width .timg7{left:176px;	top:148px;}

/*视频*/

.page2 .slide5 .p2width .timg1{left:55px;	top:-35px;}

.page2 .slide5 .p2width .timg2{left:230px;	top:-50px;}

.page2 .slide5 .p2width .timg3{left:5px;	top:122px;}

.page2 .slide5 .p2width .timg4{left:88px;	top:146px;}

.page2 .slide5 .p2width .timg5{left:200px;	top:130px;}

.page2 .slide5 .p2width .timg6{left:370px;	top:123px;}

.page2 .slide5 .p2width .timg7{left:7px;	top:273px;}

/*软件*/

.page2 .slide6 .p2width .timg1{left:80px;	top:-30px;}

.page2 .slide6 .p2width .timg2{left:220px;	top:-50px;}

.page2 .slide6 .p2width .timg3{left:-20px;	top:152px;}

.page2 .slide6 .p2width .timg4{left:108px;	top:160px;}

.page2 .slide6 .p2width .timg5{left:220px;	top:152px;}

.page2 .slide6 .p2width .timg6{left:330px;	top:133px;}

.page2 .slide6 .p2width .timg7{left:250px;	top:275px;}

/*场景二的标语*/



.page2 .p2width{

	width:950px;

	margin:0px auto;

	color:#fff;

	text-align:left;

	margin-top:-5%;

	}





.page2 .p2width h1{

	font-size:48px;

	line-height:48px;

	display:inline-block;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,100px, 0);

	}



.page2 .active .p2width h1{

	transform: translate3d(0,0,0);

	transition-delay:0.8s;

	opacity:1;

	}



.page2 .p2width span{

	font-size:18px;

	line-height:25px;

	text-transform:uppercase;

	display:inline-block;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,100px, 0);

	}



.page2 .active .p2width span{

	transform: translate3d(0,0,0);

	transition-delay:0.9s;

	opacity:1;

	}



.page2 .p2width font{

	font-size:20px;

	line-height:25px;

	display:inline-block;

	margin-top:20px;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,100px, 0);

	}



.page2 .p2width font a{

	font-size:18px;

	display:inline-block;

	margin-top:5px;

	color:#fff;

	}



.page2 .p2width font a:hover{

	text-decoration:underline;

	}



.page2 .active .p2width font{

	transform: translate3d(0,0,0);

	transition-delay:1.2s;

	opacity:1;

	}


/*场景三*/
 .case .cc2_nav_wrap{
	 text-align: center;
    letter-spacing: -3px;
    font-size: 0;
    padding-bottom: 30px;
	
}


 .case .cc2_nav_wrap .cc2nitem{
	letter-spacing: normal;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: #706f6f;
    margin: 0px;
    min-width: 50px;
    padding: 0 10px;
    background: #e0e1e1;
    border: none;
    line-height: 32px;
    text-align: center;
	 
}
.case .cc2_nav_wrap a:hover{
	background-color:#636363;
	color:#fff;}
	


.case{

	width:100%;

	overflow: hidden;

	text-align: center;

	margin:0px auto;

	margin-top:100px;

	position:relative;
			
			
	}



.case .swiper-slide{

	transition:all 0.5s;

	opacity:0;

	margin-top:20px;

	position:relative;

	}



.case .case1{

	transform: translate3d(0,300px, 0);

	}



.case .case2{

	transform: translate3d(0,200px, 0);

	}



.case .case3{

	transform: translate3d(0,300px, 0);

	}



.case .case_other{

	transform: translate3d(0,400px, 0);

	}



.active .case .swiper-slide{

	transform: translate3d(0,0, 0);

	opacity:1;

	transition-delay:0.8s;

	}



.case .swiper-slide a{

	opacity:0;

	display:block;

	font-size:20px;

	color:#fff;

	left:50%;

	margin-left:-75px;

	padding:10px 30px;

	background-color:#01a1ff;

	border-radius:5px;

	top:35%;

	z-index:1;

	position:absolute;

	box-shadow:0px 5px 0px rgba(0,0,0,0.3);

	transition:all 0.3s;

	}





.case .swiper-slide:hover a{

	opacity:1

	}



.case .swiper-slide a:hover{

	background-color:#0081f9

	}



.case .swiper-slide img{

	width:85%;

	height:auto;

	transition:all 0.3s ease-out;

	}

.case .swiper-container5  .swiper-slide img{

	width:40%;

	height:30%;

	transition:all 0.3s ease-out;

	}



.active .case .swiper-slide:hover img{

	transform:scale(1.2,1.2); 

	}



.case .h_1{

	font-size:48px;

	height:48px;

	color:#515156;

	display:inline-block;

	margin-bottom:5px;

	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}



.active .case .h_1{

	opacity:1;

	transition-delay:0.4s;

	transform: translate3d(0,0, 0);

	}



.case .h_3{

	font-size:25px;

	line-height:25px;

	display:inline-block;

	margin-bottom:40px;

	transition:all 0.5s;

	color:#515156;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}

	

.active .case .h_3{

	opacity:1;

	transition-delay:0.5s;

	transform: translate3d(0,0, 0);

	}



.case a.more_case {

	color:#08c;

	display:inline-block;

	font-size:22px;

	margin-top:80px;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}



.active .case a.more_case {

	opacity:1;

	transition-delay:0.8s;

	transform: translate3d(0,0, 0);

	}

	

.swiper-container0 .pagination, .swiper-container4 .pagination, .swiper-container5 .pagination, .swiper-container6 .pagination ,.swiper-container7 .pagination{

	text-align:center;

	bottom:50px;

	}






.daqiao{

	width:1110px;

	height:520px;

	margin:0px auto;

	color:#fff;

	}



.daqiao .l_left{

	width:330px;

	height:520px;

	float:left;

	transform: translate3d(-400px,0,0);

	transition:all 0.5s;

	opacity:0;

	}



.active .daqiao .l_left{

	opacity:1;

	transform: translate3d(0,0,0);

	}



.daqiao .l_left .l_01{

	width:100%;

	height:22px;

	float:left;

	border-top:1px solid #00ccf8;

	transform: translate3d(0,50px,0);

	transition:all 0.5s;

	opacity:0;

	}



.active .daqiao .l_left .l_01{

	transition-delay:0.5s;

	transform: translate3d(0,0,0);

	opacity:1;

	}



.daqiao .l_left .l_01 span{

	display:block;

	float:left;

	height:22px;

	width:30%;

	background-color:#00ccf8;

	}



.daqiao .l_left .l_02{

	display:block;

	width:100%;

	height:120px;

	float:left;

	margin-top:24px;

	margin-bottom:35px;

	background:url(../images/lf01.png) no-repeat left top;

	transition:all 0.5s;

	transform: rotateX(180deg);

	opacity:0;

	}



.active .daqiao .l_left .l_02{

	transition-delay:1s;

	transform: rotateX(0deg);

	opacity:1;

	}



.daqiao .l_left .l_03{

	width:100%;

	float:left;

	overflow:hidden;

	font-size:40px;

	padding-top:10px;

	padding-bottom:5px;

	line-height:30px;

	transition:all 0.6s;

	opacity:0;

	transform: translate3d(0,50px,0);

	}



.active .daqiao .l_left .l_03{

	transition-delay:1s;

	opacity:1;

	transform: translate3d(0,0,0);

	}



.daqiao .l_left .l_03 span{

	font-size:25px;

	}



.daqiao .l_left .l_04{

	background:url(../images/lf02.png) no-repeat left top;

	width:100%;

	height:124px;

	float:left;

	margin-left:-40px;

	margin-top:70px;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(-400px,50px,0);

	}



.active .daqiao .l_left .l_04{

	transition-delay:1.5s;

	opacity:1;

	transform: translate3d(0,0,0);

	}



.daqiao .l_left a.l_05{

	float:left;

	overflow: hidden;

	height:40px;

	line-height:40px;

	padding:0px 30px;

	color:#fff;

	border:1px solid #CCC;

	margin-top:20px;

	transition:all 0.6s;

	opacity:0;

	transform: translate3d(0px,50px,0);

	}



.active .daqiao .l_left a:hover.l_05{

	transition-delay:0s;

	background:#00ccf8;

	color:#000;

	border:1px solid #00ccf8;

	padding:0px 50px;

	}



.active .daqiao .l_left a.l_05{

	transition-delay:1s;

	opacity:1;

	transform: translate3d(0,0,0);

	}



.daqiao .l_center{

	width:500px;

	height:540px;
	
	background: url(../images/p5-center.png) no-repeat;

	float:left;

	margin-left:5px;	

	margin-right:20px;

	transition:all 0.5s;	

	opacity:0;

	transform: rotateY(180deg);

	}

.daqiao .l_center .title{
	
	width: 500px;
	
	height: 540px;
	
	margin: 0 auto;
	
	position: relative;
	
	text-align: center;
}


.daqiao .l_center .title .title-pic1{
	width: 86px;
	height: 68px;	
	display: inline-block;
	position: absolute;	
	left:48px;
	top:425px;
}

.daqiao .l_center .title .title-pic2{
	width: 60px;
	height: 52px;
	display: inline-block;
	position: absolute;	
	left:350px;
	top:470px;
}

.daqiao .l_center .title .title-pic3{
	width: 58px;
	height: 44px;
	display: inline-block;
	position: absolute;	
	left:375px;
	top:341px;
}

.daqiao .l_center .title .title-pic4{
	width: 58px;
	height: 36px;
	display: inline-block;
	position: absolute;	
	left:65px;
	top:208px;
}

.daqiao .l_center .title .title-pic5{
	width: 28px;
	height: 68px;
	display: inline-block;
	position: absolute;	
	left:430px;
	top:202px;
}

.daqiao .l_center .title .title-pic6{
	width: 28px;
	height: 42px;
	display: inline-block;
	position: absolute;	
	left:210px;
	top:54px;
}

.daqiao .l_center .title .title-pic7{
	width: 55px;
	height: 74px;
	display: inline-block;
	position: absolute;	
	left:400px;
	top:18px;
}




.active .daqiao .l_center{

	transition-delay:1.2s;	

	opacity:1;

	transform: rotateY(0deg);

	}



.active .daqiao .l_center .title a{
	line-height: 29px;
	color: #fff;
	}

.active .daqiao .l_center .title a:hover{
	color:#00ccf8;
	text-decoration: none;
}	

.daqiao .l_center h1{

	display:inline-block;

	font-size:30px;

	margin-top:53px;

	color:#fff;

	margin-bottom:10px;

	}



.daqiao .l_right{

	width:249px;

	height:520px;

	float:left;

	border-left:1px solid #00ccf8;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(400px,0,0);

	}



.active .daqiao .l_right{

	transition-delay:0.8s;

	opacity:1;

	transform: translate3d(0px,0,0);

	}



.daqiao .l_right .r_01{

	float:right;

	width:111px;

	height:111px;

	background:url(../images/lf03.png) no-repeat left top;

	position: relative;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(0px,100px,0);

	}



.active .daqiao .l_right .r_01{

	transition-delay:1s;

	opacity:1;

	transform: translate3d(0px,0px,0);

	}



.daqiao .l_right .r_01 span{

	background:#00ccf8;

	height:26px;

	line-height:26px;

	width:54px;

	bottom:-10px;

	right:10px;

	position:absolute;

	text-align:center;

	font-family:Arial, Helvetica, sans-serif;

	opacity:0;

	transition:all 0.5s;

	transform: translate3d(0px,40px,0);

	}



.active .daqiao .l_right .r_01 span{

	transition-delay:2s;

	opacity:1;

	transform: translate3d(0px,0px,0);

	}



.daqiao .l_right .r_02{

	float:right;

	margin-top:60px;

	margin-bottom:75px;

	width:100%;

	color:#c0c0c0;

	text-align:right;

	background:url(../images/lf04.png) no-repeat right top;

	height:50px;

	line-height:24px;

	font-family:"Simhei";

	padding-top:35px;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(0px,100px,0);

	}



.active .daqiao .l_right .r_02 {

	transition-delay:1.2s;

	opacity:1;

	transform: translate3d(0px,0px,0);

	}



.daqiao .l_right .r_02 a{

	color:#00ccf8;

	}



.daqiao .l_right .r_03{

	width:100%;

	float:right;

	color:#9b9b9b;

	overflow:hidden;

	text-align:right;

	font-family:"Simhei";

	font-size:14px;

	line-height:18px;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(0px,100px,0);

	}



.active .daqiao .l_right .r_03 {

	transition-delay:1.4s;

	opacity:1;

	transform: translate3d(0px,0px,0);

	}



.daqiao .l_right .r_03 span{

	color:#fff;

	font-size:16px;

	line-height:30px;

	display:inline-block;

	margin-top:5px;

	}



.daqiao .l_right .r_03 img{

	display:inline-block;

	}


.contact {

	width:1000px;

	height:400px;

	overflow:hidden;

	margin:0px auto;

	z-index:1;

	position:relative;

	color:#fff;

	text-shadow:0px 0px 3px rgba(0,0,0,0.3)

	}



#contact_video{

	position:absolute;

	left:0px;

	top:-20%;

	z-index:0;

	}



.contact .c_l{

	float:left;

	width:65%;

	overflow:hidden;

	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0px,100px,0);

	}



.active .contact .c_l{

	opacity:1;

	transition-delay:0.5s;

	transform: translate3d(0px,0px,0);

	}



.contact .c_l h1{

	display:inline-block;

	font-size:30px;

	}



.contact .c_l .weixin{

	width:100%;

	margin-top:220px;

	display:inline-block;

	}



.contact .c_l .weixin img{

	display:block;

	float:left;

	margin-right:20px;

	}



.contact .c_l .weixin strong{

	margin-top:20px;

	font-size:18px;

	font-weight:normal;

	display:inline-block;

	}



.contact .c_l .weixin span{

	display:inline-block;

	margin-top:10px;

	}



.contact .c_r{

	text-align:left;

	float:right;

	width:35%;
	font-size:18px;

	height:400px;

	line-height:180%;

	position:relative;

	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0px,100px,0);

	}

	

.active .contact .c_r{

	transition-delay:0.6s;

	opacity:1;

	transform: translate3d(0px,0px,0);

	}





.contact .c_r a{

	color:#fff;

	}



.contact .w_hours{

	position:absolute;

	bottom:20px;

	left:0px;

	}



.process{

	width:1200px;

	height:620px;
	
	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0,400px,0);
	
	margin: 0 auto;
	text-align: center;

	}



.active .process{

	transition-delay:0.5s;

	opacity:1;

	transform: translate3d(0,0,0);

	}
.process .h_1{

	font-size:48px;

	height:48px;

	color:#515156;

	display:inline-block;

	margin-bottom:5px;

	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}



.active .process .h_1{

	opacity:1;

	transition-delay:0.4s;

	transform: translate3d(0,50px, 0);

	}

.process .h_3{

	font-size:25px;

	line-height:25px;

	display:inline-block;

	margin-bottom:40px;

	transition:all 0.5s;

	color:#515156;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}

	

.active .process .h_3{

	opacity:1;

	transition-delay:0.5s;

	transform: translate3d(0,50px, 0);

	}



.processbox{

	width:1200px;

	overflow:hidden;	

	margin:30px auto 0 auto;

	}

	

.process_left,.process_center{

	width:590px;

	overflow:hidden;

	height:390px;

	float:left;

	position:relative;

	}



.process_left{

	margin-left:10px;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,200px,0);
	
	background:url(../images/p4-2.png) no-repeat;

	}



.active .processbox .process_left{

	opacity:1;

	transition-delay:0.5s;

	transform: translate3d(0,0,0);
	

	}



.process_center{

	margin-right:10px;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,200px,0);
	background:url(../images/p4-1.png) no-repeat;

	}



.active .processbox .process_center{

	opacity:1;

	transition-delay:0.6s;

	transform: translate3d(0,0,0);

	}



.pagination {

  position: absolute;

  z-index: 20;

  bottom: 10px;

  width: 100%;

  text-align:center;

}



.swiper-pagination-switch {

  display: inline-block;

  width: 5px;

  height: 5px;

  border-radius: 5px;

  background-color:#fff;

  border:1px solid #a0a5a9;

  margin: 0 2px;

  opacity:0.8;

  cursor: pointer;

}



.swiper-active-switch {

	border:1px solid #a0a5a9;

	background-color: #a0a5a9;

}


.our_client{

	width:1110px;

	height:460px;

	margin:0px auto;

	text-align:center;

	}

.our_client .client{

	width:754px;

	height:395px;

	margin:0px auto;

	margin-top:20px;

	overflow:hidden;	

	opacity:0;

	transition:all 1.5s;

	transform: translate3d(0,150px, 0);

	}



.active .our_client .client{

	transform: translate3d(0,0, 0);

	transition-delay:0.8s;

	opacity:1;

	}

.cl_control{

	margin:0 0 0 800px;;

	overflow:hidden;

	width:250px;

	height:40px;

	margin-top:40px;
	
	border: 1px solid #fff;

	opacity:0;

	transition:all 0.8s;

	transform: translate3d(0,50px, 0);	

	}

.cl_control a{
	font-size: 30px;
	line-height: 40px;
	color:#FFFFFF;
}

.cl_control a:hover{
	text-decoration: none;
	
}



.active .cl_control{

	transform: translate3d(0,0, 0);

	transition-delay:0.8s;

	opacity:1;

	}




