body{

	background-color:#f5f5f5;

	}



.page_menu{

	box-shadow:0px 1px 3px rgba(0,0,0,0.3);

	}



.smenu{

	width:1190px;

	margin:0px auto;

	height:100px;

	margin-bottom:10px;

	margin-top:90px;

	line-height:100px;

	background-color:#fff;

	}



.smenu a.all{

	display:inline-block;

	color:#1f2228;

	margin-right:20px;

	margin-left:40px;

	font-size:20px;

	font-family:Arial, Helvetica, sans-serif;

	}



.smenu a.class{

	color:#646c71;

	display:inline-block;

	padding:0px 15px;

	font-size:22px;

	}



.smenu a:hover.class{

	color:#1f2228;

	}



.query{

	padding-top:40px;

	padding-bottom:40px;

	background-color:#fff;

	width:1190px;

	overflow:hidden;

	margin:0px auto;

	}



.news_list{

	display:inline-block;

	width:340px;

	height:360px;

	margin-bottom:20px;

	margin-left:40px;

	overflow:hidden;

	box-shadow:none;

	}



.news_list a.news_img{

	display:block;

	width:100%;

	height:210px;

	background-position:center;

	background-size:cover;

	transition:all 0.3s;

	}



.news_list:hover a.news_img{

	opacity:0.7;

	}



.news_list h2{

	display: block;

    width: 100%;

    line-height: 30px;

    font-size: 20px;

    float: left;

    color: #515156;

    font-family: "Simhei","Microsoft yahei";

    font-weight: normal;

    margin-bottom: 10px;

}



.news_list a.news_link{

	color:#17a9ff;

	font-size:14px;

	height:20px;

	line-height:20px;

	display:inline-block;

	font-family: "Simhei","Microsoft yahei";

	margin-top:10px;

	}



.news_list a:hover.news_link{

	text-decoration:underline;

	}



.news_list span {

    display: block;

    width: 100%;

    line-height: 20px;

	max-height:40px;

    overflow: hidden;

    color: #a0a5a9;

    float: left;

    font-size: 16px;

}



.news_list font {

    display: inline-block;

    height: 20px;

	width:100%;

    line-height: 20px;

    color: #a0a5a9;

    font-size: 14px;

}





.news_list b{

	display:inline-block;

	font-family: "Simhei","Microsoft yahei";

	font-size:14px;

	color:#a0a5a9;

	font-weight: normal;

	padding-left:10px;

	}



.fanye{

	width:1190px;

	height:50px;

	line-height:50px;

	margin:0px auto;

	text-align:center;

	background-color:#fff;

	margin-top:40px;

	margin-bottom:40px;

	border-top:1px dotted #CCC;

	border-bottom:1px dotted #CCC;

	}



.fanye table{

	float:left;

	margin-left:40px;

	font-family: "Simhei","Microsoft yahei";

	font-size:14px;

	}



.fanye a{

	color:#17a9ff

	}



.btinfo{

	width:1190px;

	overflow:hidden;

	margin:0px auto;

	}



.btinfo .b1{

		background-color:#2e373d;

		overflow:hidden;

		width:1190px;

		margin:0px auto;

		padding:40px 0px 60px 0px;

		text-align: center;

		}

	

.btinfo .b1 .b1_1{

	width:320px;

	height:190px;

	display:block;

	float:left;

	margin-left:130px;

	}



.btinfo .b1 .b1_2{

	width:320px;

	height:190px;

	display:block;

	float:left;

	border-left:2px solid #37414a;

	border-right:2px solid #37414a

	}



.btinfo .b1 .b1_3{

	width:320px;

	height:190px;

	display:block;

	float:left;

	}



.btinfo .b1 b{

	font-size:45px;

	width:100%;

	height:60px;

	color:#797f83;

	display:block;

	font-weight: bold

	}



.btinfo .b1 strong{

	font-family:Arial, Helvetica, sans-serif;

	color:#797f83;

	font-size:20px;

	margin-bottom:20px;

	display:block;

	width:100%;

	}



.btinfo .b1 a{

	height:32px;

	line-height:32px;

	color:#fff;

	background-color:#e5494d;

	display:block;

	width:150px;

	border-radius:50px;

	font-size:18px;

	margin:0px auto;

	}



.btinfo .b1 font{

	display:block;

	width:90%;

	margin:0px auto;

	font-size:16px;

	color:#bfbfbf;

	margin-top:20px;

	}



.btinfo .b1 h2{

	color:#fff;

	}



.btinfo .b2{

	width:100%;

	height:45px;

	line-height:45px;

	font-size:14px;

	font-family:"Simhei","Microsoft yahei";

	background-color:#a0a5a9;

	text-align:center;

	}



.btinfo .b2 a{

	color:#fff;

	display:inline-block;

	padding:0px 5px;

	}



.btinfo .b3{

	width:80%;

	font-size:14px;

	padding:10px 10% 40px 10%;

	text-align:center;

	margin:0px auto;

	background-color:#f5f5f5;

	font-family:"Simhei","Microsoft yahei";

	color:#a0a5a9;

	}



.page{

	width:1190px;

	overflow:hidden;

	margin:0px auto;

	background-color:#fff;

	padding-top:40px;

	}



.page .detail_left{

	width:720px;

	overflow:hidden;

	float:left;

	margin-left:40px;

	}



.detail_left .news_head{

	width:100%;

	height:410px;

	background:#f32f39;

	margin-bottom:40px;

	overflow:hidden;

	background-size:cover

	}



.next_pre{

	width:90%;

	font-size:16px;

	margin-left:5%;

	float:left;

	color:#999;

	margin-bottom:20px;

	}



.next_pre a{

	color:#17a9ff

	}



.news_head .news_pro{

	width:70%;

	height:230px;

	background-color:#fff;

	border:1px solid #CCC;

	box-shadow:0px 0px 3px rgba(0,0,0.3);

	margin:0px auto;

	margin-top:150px;

	overflow:hidden;

	text-align:center;

	}



.news_head .news_pro span{

	display:inline-block;

	margin-top:30px;

	font-weight:bold;

	font-size:12px;

	color:#17a9ff;

	text-transform:uppercase;

	margin-bottom:10px;

	}



.news_head .news_pro span font{

	color:#CCC

	}

	

.news_head .news_pro h1{

	font-weight:normal;

	display:block;

	width:90%;

	margin:0px auto;

	line-height:28px;

	font-size:30px;

	}

	

.news_head .news_pro b{

	width:15%;

	overflow:hidden;

	height:30px;

	line-height:30px;

	border-bottom:2px solid #c5c9cc;

	display:block;

	margin:0px auto;

	font-size:14px;

	font-weight:normal;

	color:#676a70;

	margin-top:15px;

	}



.news_head .news_pro .bdsharebuttonbox{

	width:20%;

	height:30px;

	margin:0px auto;

	line-height:30px;

	margin-top:10px;

	text-align:center;

	}



.news_head .news_pro .bdsharebuttonbox a{

	display:inline-block;

	width:18px;

	height:18px;

	padding:0px;

	float:none;

	margin:0px 4px;

	background:none;

	overflow:hidden;

	color:#ccd1d4;

	font-size:16px;

	}



.newscon{

	width:90%;

	margin-left:5%;

	overflow:hidden;

	float:left;

	font-size:18px;

	line-height:130%;

	color:#333;

	}



.newscon a{

	color:#333;

	}



.newscon img{

	max-width:100%;

	margin:10px 0px;

	border:3px solid #FFF;

	box-shadow:0px 0px 1px rgba(0,0,0,0.3);

	margin-left:3px;

	}



.r_news_rec .news_list{

	display:inline-block;

	width:340px;

	height:360px;

	margin-bottom:40px;

	margin-left:0px;

	overflow:hidden;

	box-shadow:none;

	}



.r_news_rec .news_list a.news_img{

	display:block;

	width:100%;

	height:210px;

	background-size:cover;

	}



.r_news_rec .news_list h2{

	display: block;

    width: 100%;

    line-height: 30px;

    font-size: 20px;

    float: left;

    color: #515156;

    font-family: "Simhei","Microsoft yahei";

    font-weight: normal;

    margin-bottom: 10px;

}



.r_news_rec .news_list .news_link{

	color:#17a9ff;

	font-size:14px;

	height:20px;

	line-height:20px;

	display:inline-block;

	font-family: "Simhei","Microsoft yahei";

	margin-top:10px;

	}



.r_news_rec .news_list a:hover.news_link{

	text-decoration:underline;

	}



.r_news_rec .news_list span {

    display: block;

    width: 100%;

    line-height: 20px;

	max-height:40px;

    overflow: hidden;

    color: #a0a5a9;

    float: left;

    font-size: 16px;

}



.r_news_rec .news_list font {

    display: inline-block;

    height: 20px;

	width:100%;

    line-height: 20px;

    color: #a0a5a9;

    font-size: 14px;

}





.r_news_rec .news_list b{

	display:inline-block;

	font-family: "Simhei","Microsoft yahei";

	font-size:14px;

	color:#a0a5a9;

	font-weight: normal;

	padding-left:10px;

	}

	

.r_news_hot{

	width:100%;

	overflow:hidden;

	}	



.r_news_hot ul li{

	width:100%;

	margin-bottom:10px;

	overflow:hidden;

	}



.r_news_hot ul li a{

	font-size:16px;

	color:#17a9ff;

	font-family:"Simhei","Microsoft yahei"

	}



.r_news_hot ul li font{

	color:#999;

	font-size:14px;

	}



.page .detail_right{

	float:right;
	margin-right:40px;
	width:340px;
	overflow:hidden;

	}



.page .ds-thread{

	margin-bottom:40px;

	}

.case_top{
	width:1190px;
	height:480px;
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center center;
	background-color:#cdb47c;
	margin:0px auto;
	animation: casebgmove 0.8s ease;
	position:relative;
	}

@keyframes casebgmove
	{
	from {background-position:center top;}
	to {background-position:center center;}
	}

.case_pro{
	width:90%;
	margin:0px auto;
	text-align:center;
	height:500px;
	background-color:#fff;
	position:absolute;
	left:5%;
	top:90px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.4);
	animation: casepromove 1s ease;
	}

@keyframes casepromove
	{
	from {top:0px;}
	to {top:90px;}
	}


.case_pro .case_logo{
	width:350px;
	margin:0px auto;
	height:190px;
	margin-top:20px;
	margin-bottom:50px;
	}

.case_pro h1{
	display:block;
	margin:0px auto;
	height:50px;
	line-height:50px;
	letter-spacing:10px;
	font-size:48px;
	}

.case_pro h3{
	height:20px;
	line-height:20px;
	font-size:18px;
	display:block;
	margin:0px auto;
	color:#999;
	font-size:18px;
	margin-bottom:60px;
	}

.case_model{
	width:350px;
	margin:0px auto;
	height:30px;
	line-height:30px;
	font-size:16px;
	}

.case_model a{
	display:inline-block;
	margin:0px 10px;
	color:#977e48;
	}

.case_model a b{
	margin-right:5px;
	font-size:16px;
	}

.case_intro{
	width:720px;
	overflow:hidden;
	margin:0px auto;
	margin-top:200px;
	text-align:center;
	font-size:16px;
	line-height:24px;
	color:#828282;
	}

.case_intro h1{
	display:block;
	margin-bottom:30px;
	font-size:30px;
	height:35px;
	color:#000;
	line-height:35px;
	font-weight:normal;
	}

.case_intro font{
	color:#999;
	display:block;
	font-size:16px;
	margin:0px auto;
	margin-top:50px;
	}

.case_images{
	margin:20px auto;
	overflow:hidden;
	width:1190px;
	}

.case_images img{
	margin-bottom:50px;
	display:block;
	margin:0px auto;
	}