/*导航*/
.main_top{

	position:fixed;

	left:0px;

	top:0px;

	height:70px;

	background:#FFF;

	width:100%;

	z-index:999;

	transition:all 0.6s;

	}


.main_top a.logo{

	width:124px;

	height:38px;

	background:url(../images/logo.png)no-repeat left center;

	background-size:100% 100%;

	float:left;

	margin-left:30px;

	margin-top:15px;

	transition:all 0.5s;

	}



.main_top .navicon{

	float:right;

	margin-top:25px;

	margin-right:30px;

	overflow:hidden;

	width:20px;

	height:20px;

	position:relative;

	transition:all 0.5s;

	}



.navicon b{

	font-size:20px;

	cursor:pointer;

	position:absolute;

	transition:all 0.2s;

	}



.navicon b.fa-navicon{

	z-index:2;

	}



.navicon b.fa-minus{

	z-index:1;

	transform:rotate(90deg);

	opacity:0;

	filter: alpha(opacity=0);

	}



.navicon b.show{

	opacity:1;

	transform:rotate(180deg);

	}



.navicon b.hide{

	opacity:0;

	filter: alpha(opacity=0);

	transform:rotate(180deg);

	}



.navicon b.fa-navicon:hover{

	transform:rotate(90deg);

	opacity:0;

	filter: alpha(opacity=100);

	}



.main_top #menu{

	float:right;

	height:30px;

	line-height:30px;

	margin-top:20px;

	transition:all 0.5s;

	}



.main_top #menu a{

	color:#333;

	font-size:14px;

	float:left;

	display:block;

	padding-right:30px;

	font-family:"Microsoft yahei";

	transition:all 0.5s;

	}

	

.main_top #menu a:hover{

	color:#8c8c8c;

	}



.mini_top{

	height:50px;

	background-color:rgba(0,0,0,0.8);

	box-shadow:0px 0px 10px rgba(0,0,0,0.5)

	}

	

.mini_top_bai{

	background-color:#fff;

	}

	

.mini_top a.logo{

	margin-top:12px;

	width:100px;

	height:31px;

	background:url(../images/logo.png) no-repeat left center;

	background-size:100% 100%;

	width:162px\9;

	height:48px\9;

	}



.mini_top_bai a.logo{

	background:url(../images/logo.png) no-repeat left center;

	background-size:100% 100%;

	}





.mini_top #menu{

	opacity:0;

	filter: alpha(opacity=0);

	margin-top:20px;

	margin-right:80px;

	}



.mini_top .navicon{

	margin-top:15px;

	color:#fff;

	}



.mini_top_bai .navicon{

	color:#000;

	}



.r_menu{

	position:absolute;

	right:0px;

	top:50%;

	margin-top:-100px;

	width:180px;

	height:200px;

	z-index:1;

	overflow:hidden;

	}



.r_menu a{

	display:block;

	position:absolute;

	width:180px;

	height:60px;

	line-height:40px;

	margin:0px;

	left:120px;

	background:rgba(0,0,0,0.2);

	background-color:#000\9;

	transition:all 0.6s ease;

	color:#fff;

	}



.r_menu a:hover{

	margin-left:-120px;

	background:rgba(0,0,0,0.5);

	

	}



.r_menu a b{

	font-size:25px;

	line-height:60px;

	margin-left:20px;

	}



.r_menu a font{

	font-family:'PingHei_text',"Simhei";

	font-size:18px;

	line-height:60px;

	display:inline-block;

	margin-left:20px;

	}



.r_menu a.r_qq{

	border-top-left-radius:10px;

	top:0px;

	}



.r_menu a.r_tel{

	top:60px;

	}



.r_menu a.r_top{

	border-bottom-left-radius:10px;

	top:120px;

	}



.page1{

	background:url(../images/web_bg1.jpg);

	background-size:100% 100%;

	}


	
/*第一屏*/

.banner1{width:560px;

	height:370px;

	margin:0px auto;

	text-align:center;}

.banner1 .pic1{
		
	opacity:0;

	transition:all 0.5s;

	border:none;
	
	transform: translate3d(55px,-150px, 0);

	}



.active .banner1 .pic1{

	transform: translate3d(55px,-60px,0);

	transition-delay:0.5s;

	opacity:1;

	}

.banner1 .pic2{
		
	opacity:0;

	transition:all 0.5s;

	border:none;
	
	transform: translate3d(5px,-100px, 0);

	}



.active .banner1 .pic2{

	transform: translate3d(5px,20px,0);

	transition-delay:0.5s;

	opacity:1;

	}

.banner1 h1{

	display:inline-block;

	font-size:50px;

	line-height:48px;

	color:#404040;

	opacity:0;

	transition:all 0.5s;

	font-weight:bold;

	transform: translate3d(0,0, 0);

	}



.active .banner1 h1{

	transform: translate3d(0,90px,0);

	transition-delay:0.5s;

	opacity:1;

	}



.banner1 h3{

	display:inline-block;

	color:#404040;

	font-size:30px;

	line-height:30px;

	opacity:0;

	transition:all 0.5s;

	transform: translate3d(-70px,0,0);

	

	}



.active .banner1 h3{

	transform: translate3d(-70px,60px,0);

	transition-delay:1s;

	opacity:1;


	}

.banner1 .ban_hen{
	
	width:100px;
	
	border-bottom: 4px solid #000 ; 
	
	opacity:0;

	transition:all 0.5s;

	transform: translate3d(220px,0,0);
	
}

.active .banner1 .ban_hen{

	transform: translate3d(220px,130px,0);

	transition-delay:1s;

	opacity:1;


	}




.page2{

	background:url(../images/two_two_bg.png);

	background-size:100% 100%;

	}



.page3{

	background:url(../images/web_bg3.jpg)top center;

	background-size:100% 100% ;

	}

	



.page4{

	background:url(../images/p3-bg.png) top center;

	background-size:100% 100% ;

	}


/*场景二*/

.service{

	width:1100px;

	height:665px;

	margin:0px auto;

	text-align:center;

	}



.service h1{

	display:inline-block;

	font-size:48px;

	line-height:48px;

	color:#000;

	opacity:0;

	transition:all 0.5s;

	font-weight:bold;

	transform: translate3d(0,100px, 0);

	}



.active .service h1{

	transform: translate3d(0,60px,0);

	transition-delay:0.5s;

	opacity:1;

	}



.service h3{

	display:inline-block;

	color:#595757;

	font-size:26px;

	line-height:30px;

	opacity:0;

	transition:all 0.5s;

	transform: translate3d(0,100px,0);

	letter-spacing:10px;

	margin-top:15px;

	}



.active .service h3{

	transform: translate3d(0,55px,0);

	transition-delay:1s;

	opacity:1;

	letter-spacing:0px;

	}

.service img{
		
	opacity:0;
	

	border:none;
	
	transition:all 1.5s;

	transform: translate3d(0,180px, 0);

	}



.active .service img{

	transform: translate3d(0,90px, 0);

	transition-delay:1s;

	opacity:1;

	}


/*场景三*/

.process{

	width:660px;

	height:650px;

	margin:0px auto;

	text-align:center;

	}



.process h1{

	display:inline-block;

	font-size:48px;

	line-height:48px;

	color:#404040;

	opacity:0;

	transition:all 0.5s;

	font-weight:bold;

	transform: translate3d(0,100px, 0);

	}



.active .process h1{

	transform: translate3d(0,60px,0);

	transition-delay:0.5s;

	opacity:1;

	}



.process h3{

	display:inline-block;

	color:#404040;

	font-size:26px;

	line-height:30px;

	opacity:0;

	transition:all 0.5s;

	transform: translate3d(0,100px,0);

	letter-spacing:10px;

	margin-top:15px;

	}



.active .process h3{

	transform: translate3d(0,60px,0);

	transition-delay:1s;

	opacity:1;

	letter-spacing:0px;

	}

.process img{
		
	opacity:0;
	

	border:none;
	
	transition:all 1.5s;

	transform: translate3d(0,0, 0);

	}



.active .process img{

	transform: translate3d(0,70px, 0);

	transition-delay:1s;

	opacity:1;

	}






/*场景四*/
 


.case{

	width:100%;

	overflow: hidden;

	text-align: center;

	margin:0px auto;

	margin-top:100px;

	position:relative;
			
			
	}



.case .swiper-slide{

	transition:all 0.5s;

	opacity:0;

	margin-top:20px;

	position:relative;

	}



.case .case1{

	transform: translate3d(0,300px, 0);

	}



.case .case2{

	transform: translate3d(0,200px, 0);

	}



.case .case3{

	transform: translate3d(0,300px, 0);

	}



.case .case_other{

	transform: translate3d(0,400px, 0);

	}



.active .case .swiper-slide{

	transform: translate3d(0,0, 0);

	opacity:1;

	transition-delay:0.8s;

	}



.case .swiper-slide a{

	opacity:0;

	display:block;

	font-size:20px;

	color:#fff;

	left:50%;

	margin-left:-75px;

	padding:10px 30px;

	background-color:#01a1ff;

	border-radius:5px;

	top:35%;

	z-index:1;

	position:absolute;

	box-shadow:0px 5px 0px rgba(0,0,0,0.3);

	transition:all 0.3s;

	}





.case .swiper-slide:hover a{

	opacity:1

	}



.case .swiper-slide a:hover{

	background-color:#0081f9

	}



.case .swiper-slide img{

	width:85%;

	height:auto;

	transition:all 0.3s ease-out;

	}



.active .case .swiper-slide:hover img{

	transform:scale(1.2,1.2); 

	}



.case .h_1{

	font-size:48px;

	height:48px;

	color:#515156;

	display:inline-block;

	margin-bottom:5px;

	transition:all 0.5s;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}



.active .case .h_1{

	opacity:1;

	transition-delay:0.4s;

	transform: translate3d(0,0, 0);

	}



.case .h_3{

	font-size:25px;

	line-height:25px;

	display:inline-block;

	margin-bottom:40px;

	transition:all 0.5s;

	color:#515156;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}

	

.active .case .h_3{

	opacity:1;

	transition-delay:0.5s;

	transform: translate3d(0,0, 0);

	}



.case a.more_case {

	color:#08c;

	display:inline-block;

	font-size:22px;

	margin-top:80px;

	transition:all 0.8s;

	opacity:0;

	transform: translate3d(0,100px, 0);

	}



.active .case a.more_case {

	opacity:1;

	transition-delay:0.8s;

	transform: translate3d(0,0, 0);

	}

	

.swiper-container0 .pagination{

	text-align:center;

	bottom:50px;

	}

.swiper-pagination-switch {

  display: inline-block;

  width: 5px;

  height: 5px;

  border-radius: 5px;

  background-color:#fff;

  border:1px solid #a0a5a9;

  margin: 0 2px;

  opacity:0.8;

  cursor: pointer;

}



.swiper-active-switch {

	border:1px solid #a0a5a9;

	background-color: #a0a5a9;

}



.pagination {

  position: absolute;

  z-index: 20;

  bottom: 10px;

  width: 100%;

  text-align:left;

}








